.clear {
	width:100%;
	height:10px;
	clear: both;
}

.texto_34 {
	font-family: FS Joey;
	font-size: 34px;
}

.texto_30 {
	font-family: FS Joey;
	font-size: 30px;
}

.texto_24 {
    font-family: FS Joey;
    font-size: 24px;
}

.texto_22 {
    font-family: FS Joey;
    font-size: 22px;
}

.texto_20 {
    font-family: FS Joey;
    font-size: 20px;
}

.texto_18 {
    font-family: Roboto;
    font-size: 18px;
}

.texto_16 {
    font-family: Roboto;
    font-size: 16px;
}

.normal {
	font-weight: normal;
}

.texto_14{
	font-family: Arial;
    font-size: 14px;
}

.texto_13_4{
	font-family: DIN Alternate;
    font-size: 13.4px;
}

.bold {
	font-weight: bold;
}

.center {
	text-align: center;
}

.azul {
	color: #0033A0;
}

.gris {
	color:#707070;
}

.verde {
	color: #78BE20;
}

.rojo {
	color: #FF0000;
}

.granate {
	color: #B03648;
}

.fondo_verde {
	background-color: #78BE20;
}

/* botones */
.mat-flat-button-green{
	background-color: #78BE20;
	border: 0;
	color: #ffffff;
}

.mat-flat-button-blue{
	background-color: #EAECEE;
	border: 1px solid rgba(0,0,0,.2);
	color: #0033A0;
}

.border-dialog-bottom {
    border-bottom: solid 1px #0033A0;
    padding-top: 10px;
 }

 .active-pink-2 input[type=text]:focus:not([readonly]) {
	border-bottom: 1px solid #f48fb1;
	box-shadow: 0 1px 0 0 #f48fb1;
  }
  .active-pink input[type=text] {
	border-bottom: 1px solid #f48fb1;
	box-shadow: 0 1px 0 0 #f48fb1;
  }
  .active-purple-2 input[type=text]:focus:not([readonly]) {
	border-bottom: 1px solid #ce93d8;
	box-shadow: 0 1px 0 0 #ce93d8;
  }
  .active-purple input[type=text] {
	border-bottom: 1px solid #ce93d8;
	box-shadow: 0 1px 0 0 #ce93d8;
  }
  .active-cyan-2 input[type=text]:focus:not([readonly]) {
	border-bottom: 1px solid #4dd0e1;
	box-shadow: 0 1px 0 0 #4dd0e1;
  }
  .active-cyan input[type=text] {
	border-bottom: 1px solid #4dd0e1;
	box-shadow: 0 1px 0 0 #4dd0e1;
  }
  .active-cyan .fa, .active-cyan-2 .fa {
	color: #4dd0e1;
  }
  .active-purple .fa, .active-purple-2 .fa {
	color: #ce93d8;
  }
  .active-pink .fa, .active-pink-2 .fa {
	color: #f48fb1;
  }

